<!DOCTYPE html>
<html lang="es">
<title>{{titulo}}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="css/estilo.css">
<body class="w3-light-grey w3-content" style="max-width:1600px">