<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-white w3-animate-left w3-text-grey w3-collapse w3-top w3-center" style="z-index:3;width:300px;font-weight:bold" id="mySidebar"><br>
  <h3 class="w3-padding-64 w3-center"><b>INSTITUTO</b></h3>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-hide-large">Cerrar</a>
  <a href="/" onclick="w3_close()" class="w3-bar-item w3-button">HOME</a> 
  <a href="/alumnos" onclick="w3_close()" class="w3-bar-item w3-button">ALUMNOS</a> 
  <a href="/contacto" onclick="w3_close()" class="w3-bar-item w3-button">CONTACTO</a>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
    title="close side menu" id="myOverlay"></div>