{{> intro titulo="Alta de Alumnos"}}

{{> menu}}

{{> header}}

{{> inicioMain}}

<!-- Push down content on small screens -->
<div class="w3-hide-large" style="margin-top:83px"></div>

<p>Alta Alumno:</p>
<form id="formAgregarAlumno" method="POST" action="/agregarAlumno">
    <label for="inputCodigo">codigo: </label>
    <input type="text" id="codigo" name="codigo">
    <br>
    <label for="inputLegajo">legajo: </label>
    <input type="text" id="legajo" name="legajo">
    <br>
    <label for="inputApellido">apellido: </label>
    <input type="text" id="apellido" name="apellido">
    <br>
    <label for="inputNombre">nombre: </label>
    <input type="text" id="nombre" name="nombre">
    <br><br>
    <input type="reset">
    <input type="submit" value="Dar de alta">
</form>
<!-- <script src="data/alumnos.js"></script> -->

<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
  <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption"></p>
  </div>
</div>

{{> footer}}
{{> cierre}}