{{> intro titulo="Alumnos Por Nombre"}}

{{> menu}}

{{> header}}

{{> inicioMain}}

<!-- Push down content on small screens -->
<div class="w3-hide-large" style="margin-top:83px"></div>

<p>Lista Alumnos Por Nombre</p>
<div class="w3-row">
  {{#each alumnos}}
  <div class="w3-col l2 m2 s2">
    <div class="w3-card-2 w3-dark-grey">
      <div class="w3-container w3-center">
        <h5>{{this.nombre}} {{this.apellido}}</h5>
        <img src="img/foto.png" alt="Foto de {{this.nombre}} {{this.apellido}}" style="width:15%">
        <p>{{this.legajo}}</p>
        <p>Cursa carrera {{this.cod_carrera}}</p>
      </div>
    </div>
  </div>
  {{/each}}
</div>

<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
  <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption"></p>
  </div>
</div>

{{> footer}}
{{> cierre}}